# Byte-compiled / cache files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/
env/
ENV/

# Mac system files
.DS_Store

# Flask-related
instance/
.webassets-cache

# Secrets / env keys
.env
*secret*
*token*
*key*
*.dat

# Log files
*.log

# VSCode settings
.vscode/
