<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aktiv gegen Hass</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class = "antonio_logo">
        <a href = "https://www.amadeu-antonio-stiftung.de">
            <img src = "static/images/Antonio_Logo.png" alt = "Amadeu Antonio Logo"/>
        </a>
    </div>
    <div class = "civic_logo">
        <a href = "https://www.amadeu-antonio-stiftung.de/projekte/civic-net-aktiv-gegen-hass-im-netz/">
            <img src= "static/images/civic_Logo.png" alt="Logo">
        </a>
    </div>
    <div class="container">
        <div class = "upper">
            <div class = "upper-content">
                <h1 class = "headline" >Civic.net - Aktiv gegen Hass im Internet</h1>
                <p class = "text">In Sozialen Netzwerken werden tagtäglich Nutzer*innen beschimpft, verächtlich gemacht und bedroht. So wird nicht nur demokratischer Austausch verhindert, sondern ganze Gruppen von Menschen verdrängt und zum Schweigen gebracht. Es ist die Aufgabe der Zivilgesellschaft, Betroffene zu schützen und Platz für einen respektvollen und offenen Dialog zu schaffen. Dabei können Organisationen eine Schlüsselrolle einnehmen. Dafür muss die demokratische Zivilgesellschaft ihr erfolgreiches Engagement auf den digitalen Raum ausdehnen. Sie muss lernen, sich gegen Attacken des digitalen Mobs zur Wehr zu setzen. Und sie muss in Sozialen Netzwerken ihr Engagement für Demokratie, Menschenrechte und gesellschaftlichen Zusammenhalt leben und davon berichten.</p>
            </div>
        </div>
        <div class="lower">
            <h1 class = "headline">
                Hass in der Kommentarspalte - Was tun?
            </h1>
            <p class = "text">
                Probiere unseren Gegenrede-Generator! 
                Unser Tool hilft Dir bei deiner Reaktion auf problematische Hasskommentare. Gib dafür einfach den Hasskommentar ein, unser Sprachmodell bietet dir dann verschiedene Antwortmöglichkeiten.
            </p>
            <a href = "/hateInput">
                <button class = "indexButton" id="generateButton">Start</button>
            </a>
            </div>
    </div>
</body>
</html>